<div class="container_12 footer-holder">
  <div class="grid_4 copyrights">
    <p>© 2012 ТзОВ «Десятка»</p>
    <div class="studio-logo">
      <%= image_tag('studio-logo.png', :alt => 'Зроблено дизайн студією Миколи Вороніна') %>
      <p>Зроблено <a href="http://voroninstudio.eu" title="дизайн студією Миколи Вороніна" class="animate">дизайн студією Миколи Вороніна</a> в 2013р. <a href="http://voroninstudio.eu" title="Інформація про сайт" class="animate">Інформація про сайт</a></p>
    </div>
  </div>

  <div class="grid_4">&nbsp;</div>

  <div class="grid_4 last-footer-grid">
    <p>тел.:<span class="footer-cont">+38 (032) 244 00 00</span></p>
    <p>факс:<span class="footer-cont">+38 (032) 244 00 15</span></p>
    <p><i>Більш детальна контактна інформація</i></p>
  </div>
</div>
